
#========================
# OS Files
#========================

.DS_Store
$RECYCLE.BIN/
Desktop.ini

#========================
# Proyect Files
#========================

.sass-cache/
npm-debug.log*
node_modules/
bower_components/
ArtboardTricks.sketchplugin.zip